@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-33.33%);
	}
}

.animate-marquee {
	animation: marquee 60s linear infinite;
}

/* Pause on hover for better UX */
.animate-marquee:hover {
	animation-play-state: paused;
}
